*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
     /* border: solid red;  */
    /* height: 100vh;  */
    width: 100vw;
}
.section{
    /* border: solid blue; */
    height: 60vh;
    background-image: url(./img/showcase.jpg);
    background-size: cover;
 background-attachment: scroll;
    background-repeat: no-repeat;
}
.section1{
    display: flex;
    height: 3rem;
    justify-content: space-around;
    background-color: #23292c;
    color: white;
    border-bottom: 3px solid darkmagenta;
}
span{
    color: darkmagenta;
    
}
.section1__left{
    /* border: solid rgb(225, 0, 255); */
    width: 35vmin;
    /* height: 5vmin; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}
.section1__right{
    /* border: solid rgb(151, 37, 85); */
    width: 40vmin;
    /* height: 5vmax; */
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
a:visited{
    color: darkmagenta; 
}

.section1__sağ,.section1__orta,.section1__sol{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 800px) {
    .section1__left,.section1__right {
      font-size: 0.8rem;
      width: 20rem;
    }
    a{
        font-size: 0.6rem;
    }

  }
/* ----------------------------------------------------------------------------------------------------- */

.section2{
    /* min-height: 20rem; */
    height: 46vh;
    /* border: solid blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section2__p1{
    height: 8vh;
    /* border:  solid springgreen; */
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    width: 90vw;
    margin: auto;
    margin-bottom:2rem ;
}
.section2__p2{
    height: 10vh;
    /* border:  solid springgreen; */
    color: white;
    text-align:center ;
    width:90vw;
    margin: auto;
}

.section3{
    display: flex;
    height:8vh;
    justify-content: space-around;
    background-color: #23292c;
    color: white;
    /* border: tomato solid; */
}
.section3__div1{
    width: 16vw;
    /* border: solid tan; */
    font-size: 1.2rem;
    align-items: center;
    display: flex;
}
.section3__div2{
    width: 16vw;
    /* border: solid tan; */
    display: flex;
    align-items: center;
    
}
button{
    width: 5vw;
    font-size: 0.6rem;
    height: 3vh;
    background-color: tomato;
    color: white;

}
input{
    height: 3vh;
    margin-right: 0.6rem;
    padding-left: 0.4rem;
}
@media screen and (max-width: 600px) {
    .section3{
        flex-direction: column;
       
    }
    .section2__p1 {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    .section2__p2{
        font-size: 0.8rem;
        text-align: justify;
    }
    .section3__div1{
        /* justify-content: space-around; */
        width:45vw ;
        font-size: 0.8rem;
        margin: auto;
    }
    .section3__div2{
        width:60vw ;
        margin: auto;
    }
   button{
       width: 30vw;
   }
}
/* ------------------------------------------------------------------------------------ */


.section4{
    height: 28vh;
    /* border:  solid royalblue; */
    display: flex;
    justify-content: space-around;
}
.section4__div1{
    /* border:  solid springgreen; */
    /* height: 35vh; */
    display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   width: 30rem;
}
img{
    width: 7vw;
    height: 11vh;
}
.section4__div1-img{
    /* border:  solid yellow; */
    width: 25%;
    margin-top: 1rem;

}
.section4__div1-letter{
    /* border:  solid yellow; */
    text-align: center;

}
@media screen and (max-width: 600px) {
img{
    width: 10vw;
    height: 5vh;
    
}
.section4{
    flex-direction: column;
     height: 55vh;
   
  
}
.section4__div1{
    gap: 0;
    height: 20vh;
    align-items: flex-start;
    /* border: rebeccapurple solid; */
    
}
.section4__div1-letter{
    width: 80vw;
    height: 10vh;
    margin: auto;
    margin-left: 2rem;
    

}
.section4__div1-img{
    margin: auto;
    
}
}
/* ----------------------------------------------------------------------- */
.foother{
    /* border:  solid red; */
    background-color: #23292c;
}
.foother img{
    width: 10vw;
    height: 5vh;
/* border: blueviolet solid; */
    margin: 0rem 0 1rem 3rem;
}
.foother div{
    margin: auto;
    /* border: solid blue; */
    width: 20%;
    font-size: 1.2rem;
    color: white;
}
@media screen and (max-width: 600px){
    .foother div{
        width:60% ;
        font-size: 1rem;
    }
    .foother img{
        width:15vh ;
    }
}
